- var listLink = ["Джалильский","Иволга", "Космос", "Лениногорский", "Ромашкино", "ЯН", "Шифалы", "Вишнёвая Поляна"]
  section.cards-sect
    .container 
      div(class="links ")
        each item in listLink
          a(href="#")= item 
      
      .cards
        .card
          img(src=require("/assets/images/health/1q.png"), alt="")
      
        .card
          img(src=require("/assets/images/health/2q.png"), alt="")
      
        .card
          img(src=require("/assets/images/health/3q.png"), alt="")
      
        .card
          img(src=require("/assets/images/health/4q.png"), alt="")
      
        .card
          img(src=require("/assets/images/health/5q.png"), alt="")
      
        .card
          img(src=require("/assets/images/health/6q.png"), alt="")
      
        .card
          img(src=require("/assets/images/health/7q.png"), alt="")
      
        .card
          img(src=require("/assets/images/health/8q.png"), alt="")
            