
include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      .sidebar#sidebar
        .container
          .sidebar__head 
            a(href="/" class='logo' data-target='sidebar' data-action='close') 
              +svg("logo")
            button.close(data-target='sidebar' data-action='close') 
              +svg("close")
          nav.sidebar__content 
            a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
              +svg("child" ,17,15)
              span Дети

            a(href="/health.html" data-target='sidebar' data-action='close')  
              +svg("health" ,17,17)
              span Здоровье

            a(href="/rest.html" data-target='sidebar' data-action='close')  
              +svg("rest" ,17,14)
              span Отдых

            a(href="/restaurants.html" data-target='sidebar' data-action='close')  
              +svg("nutrition" ,17,17)
              span Питание

            a(href="/sport-actuba.html" data-target='sidebar' data-action='close')  
              +svg("sport" ,17,17)
              span Спорт

            a(href="/museum.html" data-target='sidebar' data-action='close')  
              +svg("culture" ,17,15)
              span Культура

            a(href="/about.html" data-target='sidebar' data-action='close')  
              +svg("about" ,17,17)
              span О компании
      header.header.header__sanatorium
        .container
          .header__wrapper 
            a(href="/" class='logo') 
              +svg("logo")
            button.burger( data-target='sidebar' data-action='open')
              +svg("burger", 35)
            nav
              a(href="/about.html") О компании
              a(href="/health.html") Здоровье
              a(href="/green-scientists.html") Дети
              a(href="/sport-actuba.html") Спорт
              a(href="/rest.html") Отдых
              a(href="/restaurants.html") Питание
              a(href="/museum.html") Культура 
            button.call 
              +svg("phone", 24)
        .container.relative
          +svg('figures')(class=" lg2:w-[470px] hidden lg2:block lg2:h-[517px] z-10 lg2:z-0 absolute right-0 lg2:top-0")        
          .header__bg
            img(src=require('/assets/images/camp/camp-landish.png') alt="")
      main
        .section.camp.relative
          +svg('may-lily')(class=" w-[84px] h-[80px] lg2:w-[262px] lg2:h-[250px] z-10 lg2:z-0 absolute right-[42px] top-[-70px] lg2:right-[380px] lg2:top-[-40px]") 
          .container 
            .camp__top
              h2.title Иволга
              p.text Детский оздоровительный лагерь
            .camp__directions.directions
              p.directions__title Оздоровительное направление летних смен — здоровое питание
              .directions__wrapper
                .item 
                  .item__title Первая
                  .item__date 1 июня — 21 июня
                .item 
                  .item__title Вторая
                  .item__date 24 июня — 14 июля
                .item 
                  .item__title Третья
                  .item__date 17 июля — 6 августа
                .item 
                  .item__title Четвертая
                  .item__date 9 августа — 29 августа
            .camp__slider.grid
              .other-slider.other-slider3
                .content
                  h2.title Программа <br/> с элементами квеста
                  .btn-controls
                    button.btn-prev
                      +svg('back-line')
                    button.btn-next
                      +svg('forward-line')
                .swiper-wrapper
                  .swiper-slide
                    img(src=require('/assets/images/childs2.png'))
            .camp__req        
              include ../components/select/index.pug
              include ../components/button.pug
              a(href="https://social.tatneft.ru/deti/landish").book 
                +select('Заезд / Выезд', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +select('Гости', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +select('Промокод', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                +button('Забронировать','orange')(type='submit')   
        .camp-about
          .container.relative 
            +svg('home-people')(class=" lg2:w-[329px] hidden lg2:block lg2:h-[251px]  absolute right-[300px] lg2:top-[20px]")       
            .camp-about__top  
              h2.title О лагере
              p.text «Ландыш» — стационарный лагерь, дети живут в 5 комфортабельных корпусах в уютных комнатах по 4-6 человек. Душевые и туалеты расположены на этаже. Также на каждом этаже оборудован холл — с диванами и телевизором, где можно провести время в течение дня или собраться на вечерние планерки всем отрядом. 

            .camp-about__img 
              img(src=require('/assets/images/about-landish.png'), alt="")
        .camp-infrastructure 
          .container 
            .camp-infrastructure__top.camp-infrastructure__top-col2
              h2.title Инфраструктура
              p.text Для комплексного развития детей в каждой смене предусмотрено множество мероприятий для развития коммуникативных навыков: тренинги, психологические игры, тимбилдинги и др. Ведется общественно-полезная деятельность — например, благоустройство территории и дежурство по лагерю. И, конечно, разнообразие инфраструктуры для физического развития:

            .camp-infrastructure__list 
              .item
                .item__icon 
                  +svg('river')
                .item__title Бассейн
              .item
                .item__icon 
                  +svg('river')
                .item__title Спортзал
              .item
                .item__icon 
                  +svg('river')
                .item__title Теннисный зал/Теннисный корт
              .item
                .item__icon 
                  +svg('river')
                .item__title Детский спортивный комплекс
              .item
                .item__icon 
                  +svg('river')
                .item__title Футбольное поле
              .item
                .item__icon 
                  +svg('river')
                .item__title Баскетбольная площадка
              .item
                .item__icon 
                  +svg('river')
                .item__title Волейбольная площадка
              .item
                .item__icon 
                  +svg('river')
                .item__title Бадминтонная площадка
              
        .section
          .container
            .grid
              .other-slider.other-slider2
                .content
                  h2.title Питание
                  div
                    p.text Питание в лагере пятиразовое — сбалансированное под потребности растущего организма иобогащенное витаминами благодаря обилию свежих овощей и фруктов. 
                  .btn-controls
                    button.btn-prev
                      +svg('back-line')
                    button.btn-next
                      +svg('forward-line')
                .swiper-wrapper
                  .swiper-slide
                    img(src=require('/assets/images/childs3.png'))
        //- include ../sections/campInfo/index.pug
        .section.accept
          .container
            .grid.slider
              div(class='overflow-hidden introduction__slider')
                .accept-slider
                  .swiper-wrapper
                    .swiper-slide
                      img(src=require('/assets/images/childs4.png'))
                    .swiper-slide
                      img(src=require('/assets/images/child-flower.png'))
                  
                  button.btn-prev
                    +svg('back-line')
                  button.btn-next
                    +svg('forward-line')
        .section.contacts
          .container
            .contacts__wrapper
              .contacts__top.relative
                +svg('call')(class=" lg2:w-[130px] hidden lg2:block lg2:h-[130px]  absolute lg2:right-[-130px] lg2:bottom-[180px]")    
                h4.title До встречи!
                div
                  p.contacts__text  Республика Татарстан, Лениногорский район, деревня Ивановка
                  br
                  p.contacts__text  Схема проезда
                  p.contacts__text Маршрут от Лениногорска в сторону д. Ивановка, по ходу движения есть дорожный указатель ДОЛ «Ландыш», от д. Ивановка до ДОЛ «Ландыш» 5 км.

                
                div


                  a(href="tel:+78553304177").contacts__link (855-3) 304177 доб.60263
                  a(href="tel:+78559540002").contacts__link (85595) 4-00-02 (директор)
                  a(href="tel:+78559540021").contacts__link (85595) 4-00-21(столовая)
                  

                //- div.contacts__text
                  span E-mail: 
                  a(href="mailto:sanat_djalil@tatneft.tatar") sanat_djalil@tatneft.tatar
                //- div.contacts__soc 
                  a(href="" class="soc bg-green")
                    +svg('whatsapp',  33)
                    span WhatsApp
                  a(href="" class="soc bg-[#5181B8]")
                    +svg('vk',  33)
                    span Вконтакте
              .contacts__bottom
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2009424f30fe10513eda0c4ee12378b3ccf6d66c287eff5862674bb234a35a82&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
      include ../sections/footer/index.pug
    
    
