
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      include ../sections/header/green-scientists.pug
      main
        - var listLink = ['Берёзка','Вишнёвая поляна','Иволга','Космос','Ландыш','Ромашкино','Солнечный','Факел','Чайка','Юбилейный','Юность']
        section.cards-sect
          .container 
            div(class="links ")
              
              a(href="/camp-berezka.html") Берёзка
              a(href="/camp-vishnevaya-polyana.html") Вишнёвая поляна
              a(href="/camp-ivolga.html") Иволга
              a(href="/camp-kosmos.html") Космос
              a(href="/camp-landish.html") Ландыш
              //- a(href="/") Ромашкино
              a(href="/camp-solnechniy.html") Солнечный
              a(href="/camp-fakel.html") Факел
              a(href="/camp-chaika.html") Чайка
              a(href="/camp-yubileynyy.html") Юбилейный
              a(href="/camp-yunost.html") Юность

            .cards
              a(href="").card
                img(src=require("/assets/images/green-scientists/1q.png"), alt="")
            
              a(href="").card
                img(src=require("/assets/images/green-scientists/2q.png"), alt="")
            
              a(href="").card
                img(src=require("/assets/images/green-scientists/3q.png"), alt="")
            
              a(href="").card
                img(src=require("/assets/images/green-scientists/4q.png"), alt="")
            
              a(href="").card
                img(src=require("/assets/images/green-scientists/5q.png"), alt="")
            
              a(href="").card
                img(src=require("/assets/images/green-scientists/6q.png"), alt="")
            
              a(href="").card
                img(src=require("/assets/images/green-scientists/7q.png"), alt="")
            
              a(href="").card
                img(src=require("/assets/images/green-scientists/8q.png"), alt="")
                
              a(href="").card
                img(src=require("/assets/images/green-scientists/9q.png"), alt="")

              a(href="").card
                img(src=require("/assets/images/green-scientists/10q.png"), alt="")

              //- a(href="").card
              //-   img(src=require("/assets/images/green-scientists/11q.png"), alt="")
                  
            
      include ../sections/footer/index.pug

    