include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      .sidebar#sidebar
        .container
          .sidebar__head 
            a(href="/" class='logo' data-target='sidebar' data-action='close') 
              +svg("logo")
            button.close(data-target='sidebar' data-action='close') 
              +svg("close")
          nav.sidebar__content 
            a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
              +svg("child" ,17,15)
              span Дети

            a(href="/health.html" data-target='sidebar' data-action='close')  
              +svg("health" ,17,17)
              span Здоровье

            a(href="/rest.html" data-target='sidebar' data-action='close')  
              +svg("rest" ,17,14)
              span Отдых

            a(href="/restaurants.html" data-target='sidebar' data-action='close')  
              +svg("nutrition" ,17,17)
              span Питание

            a(href="/horseback-riding.html" data-target='sidebar' data-action='close')  
              +svg("sport" ,17,17)
              span Спорт

            a(href="/museum.html" data-target='sidebar' data-action='close')  
              +svg("culture" ,17,15)
              span Культура

            a(href="/about.html" data-target='sidebar' data-action='close')  
              +svg("about" ,17,17)
              span О компании
      header.header.header__sanatorium
        .container
          .header__wrapper 
            a(href="/" class='logo') 
              +svg("logo")
            button.burger( data-target='sidebar' data-action='open')
              +svg("burger", 35)
            nav
              a(href="/about.html") О компании
              a(href="/health.html") Здоровье
              a(href="/green-scientists.html") Дети
              a(href="/horseback-riding.html") Спорт
              a(href="/rest.html") Отдых
              a(href="/restaurants.html") Питание
              a(href="/museum.html") Культура 
            button.call 
              +svg("phone", 24)
          .header__bg
            img(src=require('/assets/images/rest/rest-ivushka.png') alt="")
      main
        .rest 
          .container 
            .rest__top 
              .rest__top-left 
                h2.title Ивушка
                p.text База отдыха
              .rest__top-right  
                p.text База отдыха расположена на левом берегу Карабашского водохранилища в 27 км от Бугульмы. За один заезд база может принять до 92 человек — их размещают в 4-х местных двухэтажных, или 4-х и 6-ти местных одноэтажных домиках. Все они оборудованы мебелью, кондиционерами и холодильниками. Кухня — общая на лагерь и оборудована всем необходимым. Туалеты и душевые находятся на территории.


        .section.accept
          .container
            .grid.slider
              div(class='overflow-hidden introduction__slider')
                .accept-slider
                  .swiper-wrapper
                    .swiper-slide
                      img(src=require('/assets/images/rest4.png'))
                    .swiper-slide
                      img(src=require('/assets/images/rest5.png'))
                  
                  button.btn-prev
                    +svg('back-line')
                  button.btn-next
                    +svg('forward-line')
        .section.directions-care 
          .container
            
            h2.title Инфраструктура
            p.text Чтобы отдых в «Чайке» запомнился, здесь созданы все условия: 
            div(class=' grid gap-5 lg2:gap-8 lg2:grid-cols-3')
              
              .trend 
                +svg('sun2').trend__icon
                h4.trend__title Парковка на территории, чтобы вы не беспокоились
              .trend 
                +svg('heart').trend__icon
                h4.trend__title Летняя душевая с горячей водой
              .trend 
                +svg('star').trend__icon
                h4.trend__title Место для отдыха на берегу с шезлонгами
              .trend 
                +svg('sex2').trend__icon
                h4.trend__title Пирс с выходом на воду
              .trend 
                +svg('lock').trend__icon
                h4.trend__title Площадка с уличными тренажерами
              .trend 
                +svg('grass-blue').trend__icon
                h4.trend__title Футбольная и волейбольная площадки
              .trend 
                +svg('grass-blue').trend__icon
                h4.trend__title Велосипеды
              .trend 
                +svg('grass-blue').trend__icon
                h4.trend__title Детская площадка
              .trend 
                +svg('grass-blue').trend__icon
                h4.trend__title Возможность отправиться на рыбалку со своим инвентарем
        .section 
          .container
            include ../components/select/index.pug
            include ../components/button.pug
            a(href="https://social.tatneft.ru/deti/ivolga/?lang=ru").book 
              +select('Заезд / Выезд', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
              +select('Гости', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
              +select('Промокод', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
              +button('Забронировать','orange')(type='submit')  
        
        .section.img-content
          .container 
            img(src=require("/assets/images/rest10.png"), alt="")
        .section.price-book
          .container
            h2.title Цены и бронирование
            .price-book__wrapper
              .price-book__top
                .price-book__list 
                  .item
                    .item__title Вагон-домик
                    .item__count 2-местный (+1 гость)
                    .item__prices 
                      div 
                        span 1 500 ₽
                        span будни
                      div 
                        span 1 900 ₽
                        span выходные
                  .item
                    .item__title Вагон-домик
                    .item__count 2-местный 
                    .item__prices 
                      div 
                        span 1 700 ₽
                        span будни
                      div 
                        span 2 000 ₽
                        span выходные
                  .item
                    .item__title Вагон-домик
                    .item__count 4-местный (1 этаж)
                    .item__prices 
                      div 
                        span 3 100 ₽
                        span будни
                      div 
                        span 3 900 ₽
                        span выходные
                  .item
                    .item__title Вагон-домик
                    .item__count 4-местный (2 этажа)
                    .item__prices 
                      div 
                        span 3 300 ₽
                        span будни
                      div 
                        span 4 000 ₽
                        span выходные
                  .item
                    .item__title Деревянный VIP-дом
                    .item__count 6-местный (2 этажа)
                    .item__prices 
                      div 
                        span 10 400 ₽
                        span будни
                      div 
                        span 12 700 ₽
                        span выходные
                  .item-other
                    div
                      .item__title Ранний заезд/поздний выезд
                      .item__prices 
                        div 
                          span 400/500 ₽ 
                          span будни/выходной
                    div
                      .item__title Дополнительное место
                      .item__prices 
                        div 
                          span 800/1 000 ₽ 
                          span Дополнительное место

              

                .price-book__info
                  p * В праздничные и выходные дни стоимость и графики заезда могут меняться.
                  br
                  p В стоимость номера входит: проживание, пользование инфраструктурой (игровые площадки), пользование спорт. инвентарем, спортивно-развлекательные мероприятия.
                  br
                  p Дети до 2-х лет (включительно) проживают без оплаты и предоставления койко-места
        
        //- .camp-info 
          .container
            h2.title Информация 
            .list.special-programs__list
              .item 
                .item__icon
                  +svg('forward-line')
                .item__title Анкета «Мой ребенок»
        .section.contacts
          .container
            .contacts__wrapper
              .contacts__top.relative
                +svg('call')(class=" lg2:w-[130px] hidden lg2:block lg2:h-[130px]  absolute lg2:right-[-130px] lg2:bottom-[180px]")    
                h4.title Увидимся!
                
                p.contacts__text  г. Лениногорск, ул. Промышленная, д.9, Лениногорский филиал УСО ПАО «Татнефть».
                div
                  a(href="tel:+78553304191").contacts__link +7 (8553) 304191 доб. 60263
                
              .contacts__bottom
                img(src=require('/assets/images/maps/rest-ivushka-map.png'), alt="")
        
      include ../sections/footer/index.pug
    
    
