
include ../components/svg.pug
include ../components/select/index.pug
include ../components/button.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      .sidebar#sidebar
        .container
          .sidebar__head 
            a(href="/" class='logo' data-target='sidebar' data-action='close') 
              +svg("logo")
            button.close(data-target='sidebar' data-action='close') 
              +svg("close")
          nav.sidebar__content 
            a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
              +svg("child" ,17,15)
              span Дети

            a(href="/health.html" data-target='sidebar' data-action='close')  
              +svg("health" ,17,17)
              span Здоровье

            a(href="/rest.html" data-target='sidebar' data-action='close')  
              +svg("rest" ,17,14)
              span Отдых

            a(href="/restaurants.html" data-target='sidebar' data-action='close')  
              +svg("nutrition" ,17,17)
              span Питание

            a(href="/horseback-riding.html" data-target='sidebar' data-action='close')  
              +svg("sport" ,17,17)
              span Спорт

            a(href="/museum.html" data-target='sidebar' data-action='close')  
              +svg("culture" ,17,15)
              span Культура

            a(href="/about.html" data-target='sidebar' data-action='close')  
              +svg("about" ,17,17)
              span О компании
      header.header.header__sanatorium
        .container
          .header__wrapper 
            a(href="/" class='logo') 
              +svg("logo")
            button.burger( data-target='sidebar' data-action='open')
              +svg("burger", 35)
            nav
              a(href="/about.html") О компании
              a(href="/health.html") Здоровье
              a(href="/green-scientists.html") Дети
              a(href="/horseback-riding.html") Спорт
              a(href="/rest.html") Отдых
              a(href="/restaurants.html") Питание
              a(href="/museum.html") Культура 
            button.call 
              +svg("phone", 24)
          .header__bg
            img(src=require('/assets/images/bg/vishn-polyna.png') alt="")
        
          
      main
        .section
          .introduction-type-1.introduction-dzhalilskiy 
            .container
              h2.title Вишневая Поляна
              .introduction__wrapper
                .introduction__top
                  h3.introduction__title Всеобъемлющая забота
                .introduction__bottom
                  p.introduction__text Уютный санаторий «Вишневая Поляна» расположен в живописной парковой зоне Нурлата. Он рассчитан на единовременное пребывание всего 50 гостей,поэтому атмосфера здесь спокойная и семейная.
                  
                div(class='overflow-hidden introduction__slider')
                  .accept-slider
                      .swiper-wrapper
                        .swiper-slide
                          img(src=require('/assets/images/sanatorium/vishnevaya-polyana/vishnevaya-polyana-slide-1.png'))
                        .swiper-slide
                          img(src=require('/assets/images/sanatorium/vishnevaya-polyana/vishnevaya-polyana-slide-2.png'))
                
                  
                
                a(href="https://vishnevaya-polyana.tatneft.ru/?lang=ru").book 
                  +select('Заезд / Выезд', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                  +select('Гости', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                  +select('Промокод', {name:1,val:'0'},{name:2,val:'01'},{name:3,val:'02'})
                  +button('Забронировать','orange')(type='submit')   
        .section.directions-care 
          .container
            
            h2.title Сопровождаем <br/> на каждом этапе <br/> вашего восстановления
            p.text У санатория «Вишневая Поляна» есть лицензии по 12 видам основной медицинской помощи. Все процедуры проводятся по трем направлениям:
            div(class=' grid gap-5 lg2:gap-8 lg2:grid-cols-3')
              
              .trend 
                +svg('sun2').trend__icon
                h4.trend__title Заболевания опорно-двигательного аппарата
              .trend 
                +svg('heart').trend__icon
                h4.trend__title Заболевания органов системы кровообращения
              
              .trend 
                +svg('intesine').trend__icon
                h4.trend__title Заболевания желудочно-кишечного тракта
              div(class='hidden lg2:block') 
              .trend 
                +svg('grass-blue').trend__icon
                h4.trend__title Заболевания органов дыхания нетуберкулезного характера
              .trend 
                +svg('circle').trend__icon
                h4.trend__title Заболевания неврологии, кардиологии, эндокринологии
              
                
        
        .section
          .container
            .grid
              .other-slider
                .content
                  h2.title Внимание как основа <br/>качества нашей работы
                  p.text Для составления программы лечения наши специалисты проводят диагностику пациентов — для этого у нас есть собственная клиническая и биохимическая лаборатория, аппараты ЭКГ. После чего уже специалист — физиотерапевт, терапевт, педиатр или травматолог, проводит консультацию. Каждый курс лечения включает до 10-15 процедур, которые подбираются индивидуально. Среди них могут быть:
                  .btn-controls
                    button.btn-prev
                      +svg('back-line')
                    button.btn-next
                      +svg('forward-line')
                .swiper-wrapper
                  .swiper-slide
                    img(src='/assets/images/sanatorium/phizioterapia.png')
                    .slide-content  
                      h4.slide-content__title физиотерапия
        
        include ../sections/team/index.pug
        .section.select-programm 
          .container
            .select-programm__top
              h2.title Выбрать <br/> программу
              p.text Санаторий «Вишневая поляна» предоставляет возможность пройти оздоровительно-восстановительный курс сроком от 1 дня, как с проживанием в санатории, так и без.
            .list
              
                .item 
                  h4.item__title Санаторно-оздоровительная путевка
                  h5.item__duration  от 7 суток
                  p.item__descr Классический набор лечебных процедур при различных заболеваниях
                .item 
                  h4.item__title Оздоровительная путевка
                  h5.item__duration от 1 дня
                  p.item__descr Курс общего оздоровления
                .item 
                  h4.item__title Курсовка
                  h5.item__duration от 1 дня
                  p.item__descr Лечение с питанием или без питания, с дневным пребыванием в санатории
            
        .section.virtualt-tour
          .container 
            .virtualt-tour__wrapper
              img(src=require('/assets/images/sanatorium/vishnevaya-polyana/vishnevaya-polyana3d.png'), alt="")
              .tour 
                +svg('compas').tour__icon
                .tour__title Виртуальный тур <br/> по санаторию
        //- .section.documents
          .container 
            h2.title Документы 
            .documents__wrapper
              .special-programs__list
                .item 
                  .item__icon
                    +svg('forward-line')
                  .item__title Лицензия  
                .item 
                  .item__icon
                    +svg('forward-line')
                  .item__title Выписка из реестра к лицензии 
                .item 
                  .item__icon
                    +svg('forward-line')
                  .item__title Уведомление к лицензии 
                .item 
                  .item__icon
                    +svg('forward-line')
                  .item__title Патент №2158578
              .special-programs__list(class='lg2:justify-center')
                .item 
                    .item__icon
                      +svg('forward-line')
                    .item__title Патент №2142772 
                .item 
                  .item__icon
                    +svg('forward-line')
                  .item__title Патент №2158574
                .item 
                  .item__icon
                    +svg('forward-line')
                  .item__title Патент №2158575
                .item 
                  .item__icon
                    +svg('forward-line')
                  .item__title Патент №2158578
                

        .section.contacts
          .container
            .contacts__wrapper
              .contacts__top.relative
                +svg('call')(class=" lg2:w-[130px] hidden lg2:block lg2:h-[130px]  absolute lg2:right-[-130px] lg2:bottom-[180px]")    
                h4.title До встречи!
                div
                  p.contacts__text  423040 Республика Татарстан, Нурлат, деревня Вишневая поляна 6
                  p.contacts__text Проезд: до города Нурлат – на поезде, автобусе или на автомашине; далее – до деревни Вишневая Поляна (25 км)
                div
                  a(href="tel:+79172602897").contacts__link 8-917-260-28-97
                  a(href="tel:+79196407196").contacts__link  8-919-640-71-96
                div.contacts__text
                  span E-mail: 
                  a(href="mailto:girudo.sanat@mail.ru") girudo.sanat@mail.ru
                
              .contacts__bottom
                img(src=require('/assets/images/maps/sanatorium-vishnevaya-polyana-map.png'), alt="")
        
      include ../sections/footer/index.pug