include ../components/svg.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      .sidebar#sidebar
        .container
          .sidebar__head 
            a(href="/" class='logo' data-target='sidebar' data-action='close') 
              +svg("logo")
            button.close(data-target='sidebar' data-action='close') 
              +svg("close")
          nav.sidebar__content 
            a(href="/green-scientists.html" data-target='sidebar' data-action='close')  
              +svg("child" ,17,15)
              span Дети

            a(href="/health.html" data-target='sidebar' data-action='close')  
              +svg("health" ,17,17)
              span Здоровье

            a(href="/rest.html" data-target='sidebar' data-action='close')  
              +svg("rest" ,17,14)
              span Отдых

            a(href="/restaurants.html" data-target='sidebar' data-action='close')  
              +svg("nutrition" ,17,17)
              span Питание

            a(href="/horseback-riding.html" data-target='sidebar' data-action='close')  
              +svg("sport" ,17,17)
              span Спорт

            a(href="/museum.html" data-target='sidebar' data-action='close')  
              +svg("culture" ,17,15)
              span Культура

            a(href="/about.html" data-target='sidebar' data-action='close')  
              +svg("about" ,17,17)
              span О компании
      header.header.header__sanatorium
        .container
          .header__wrapper 
            a(href="/" class='logo') 
              +svg("logo")
            button.burger( data-target='sidebar' data-action='open')
              +svg("burger", 35)
            nav
              a(href="/about.html") О компании
              a(href="/health.html") Здоровье
              a(href="/green-scientists.html") Дети
              a(href="/horseback-riding.html") Спорт
              a(href="/rest.html") Отдых
              a(href="/restaurants.html") Питание
              a(href="/museum.html") Культура 
            button.call 
              +svg("phone", 24)
          .header__bg
            img(src=require('/assets/images/sport/sport-fitness.png') alt="")
      main
        .section.sport
          .container
            h2.title Фитнес-центр <br/>Стиль жизни
            
            p.subtitle Спортивный комплекс
            
            p.text Спортивный комплекс в центре Альметьевска, который уже40 лет даёт возможность жителям вести активный образ жизни.В 14 спортивных залах с 7 утра до 10 вечера проходят занятияв 18 секциях по разным видам спорта.
              
              
      

            .accept.sport__slider
              .grid.slider
                div(class='overflow-hidden')
                  .accept.sport__slider
                    .accept-slider
                      .swiper-wrapper
                        .swiper-slide
                          img(src=require('/assets/images/sport-zal5.png'))
                        .swiper-slide
                          img(src=require('/assets/images/sport-zal4.png'))
                      
                      button.btn-prev
                        +svg('back-line')
                      button.btn-next
                        +svg('forward-line')
        include ../sections/treatmentPrograms/index.pug
        
        include ../sections/coachingStaff/index.pug    
        .section
          .container
            .grid
              .other-slider
                .content
                  h2.title Услуги
                  p.text Тренеры фитнес-центра предоставляют широкий выбор групповых занятий:
                .swiper-wrapper
                  .swiper-slide
                    img(src=require('/assets/images/pilates.png'))
                    .slide-content  
                      h4.slide-content__title Пилатес
        .section
          .container
            .grid
              .other-slider.other-slider2
                .content
                  
                  p.text Для активного и разностороннего детей, представлены направления:
                  
                .swiper-wrapper
                  .swiper-slide
                    img(src=require('/assets/images/pool5.png'))
                    .slide-content 
                      h4.slide-content__title Оздоровительное плавание для детей 
                      p.slide-content__text (возраст с 1,5 до 12 лет)
        .section.img-content
          .container 
            img(src=require("/assets/images/karate.png"), alt="")
            h2.title.img-content__text(class=" left-0 bottom-0  lg2:right-0 lg2:left-auto") вольная борьба <br/>кикбоксинга <br/>айкидо
        include ../sections/coachingStaff/index.pug
        .section.img-content
          .container 
            img(src=require("/assets/images/pool2.png"), alt="")
            h2.title.img-content__text(class=" left-0 bottom-0  lg2:right-0 lg2:left-auto") Детские <br/>занятия
        .section.prices 
          .container 
            h2.title Абонементы и цены
            .prices__wrapper
              .prices__content
                .prices__content-title Бассейн
                .prices__content-list 
                  .item 
                    .item__top 1 месяц
                    .item__bottom 
                      div 1 600 рублей
                      div 1 200 рублей — льготный
                  .item 
                    .item__top 3 месяц
                    .item__bottom 
                      div 3 700 рублей
                      div 2 800 рублей — льготный
                  .item 
                    .item__top 6 месяц
                    .item__bottom 
                      div 7 000 рублей
                      div 5 200 рублей — льготный
              .prices__content
                .prices__content-title Тренажерный зал / групповые занятия
                .prices__content-list 
                  .item 
                    .item__top 1 месяц
                    .item__bottom 
                      div 1 600 рублей
                      div 1 200 рублей — льготный
                  .item 
                    .item__top 3 месяц
                    .item__bottom 
                      div 2 800 рублей
                      div 1 850 рублей — льготный
                  .item 
                    .item__top 6 месяц
                    .item__bottom 
                      div 5 200 рублей
                      div 3 400 рублей — льготный
            .prices__bottom
              .prices__info-list          
                p * льготный абонемент — для пенсионеров и школьников
              .prices__info
                +svg('home')
                p Абонемент действует со дня покупки в течении первого (трех, шести) месяца. По нему вы можете посещать занятия 1 раз в день по расписанию залов или бассейна.
        .section.contacts
          .container
            .contacts__wrapper
              .contacts__top.relative
                +svg('call')(class=" lg2:w-[130px] hidden lg2:block lg2:h-[130px]  absolute lg2:right-[-130px] lg2:bottom-[180px]")    
                h4.title Увидимся!
                
                p.contacts__text  г. Альметьевск, ул. Лермонтова, 14а
                div
                  p.contacts__text Директор
                  a(href="tel:+738-71-10").contacts__link 38-71-10
                div
                  p.contacts__text Старший инструктор
                  a(href="tel:+738-71-14").contacts__link 38-71-14
                div
                  p.contacts__text Администратор/ресепшн
                  a(href="tel:+7300-900").contacts__link 300-900
                  
                
                
                
              .contacts__bottom
                img(src=require('/assets/images/maps/sport-fitness-map.png'), alt="")
      include ../sections/footer/index.pug

      
    
    
